.main {
  &_middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

  &__header {
    background-color: $white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px 10px 12px 10px;
  }

  &__title {
    padding-left: 14px;
  }
}
