.table {
  background-color: $white;
  border-collapse: collapse;
  width: 100%;

  &--id-hidden .table__id,
  &--name-hidden .table__name,
  &--year-hidden .table__year,
  &--color-hidden .table__color,
  &--pantone-hidden .table__pantone {
    display: none;
  }

  &__tr {
    border-top: 1px solid $colorBorderTable;
  }

  &__th{
    padding: 4px 0 4px 8px;
  }

  &__td {
    padding: 14px 0 14px 8px;
  }

  &__th {
    text-align: left;
    border-right: 1px solid $colorBorderTable;

    &:first-child {
      text-align: center;
    }

    &:last-child {
      border-right: none;
    }
  }


  &__td {
    &:first-child {
      padding-right: 17px;
    }
  }

  &__id {
    text-align: right;
    min-width: 10.78125%;
  }

  &__name {
    min-width: 28.90625%;
  }

  &__year {
    min-width: 12.03125%;
    text-align: center;
  }

  &__color {
    min-width: 20.15625%;
  }

  &__pantone {
    min-width: 27.5%;
  }


  &__color-box {
    border-radius: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
  }
}
